body {
    background-color: Whitesmoke;
    margin-left: 20px;
    color: black
  }
  .backgroundimage {
      background-image: url("https://www.polyvore.com/cgi/img-thing?.out=jpg&size=l&tid=7197164");
      background-repeat: repeat-y;
      background-position: center top;
    }
.headingbackground {
  background-color: LightGrey
}
h2 {
  color: dimgray;
}
.headingborder {
  border-style: solid;
  border-width: thick;
  border-color: Slategray;
  border-radius: 8px;
  padding: 20px 20px 20px 20px;
  height: 40px;
  width: 350px;
  outline-style: solid;
  outline-color: invert;
  outline-width: thick;
  outline-offset: 1px;
  background: lightgrey;
}
img {
  height: 350px;
  width: 1000px;
}
